<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar class="menu">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content id="pagina_menu" class="ion-padding">
        <ion-label id="itens_menu">Início</ion-label><br>
        <ion-label id="itens_menu">Categorias</ion-label><br>  
        <ion-label id="itens_menu">Favoritos</ion-label><br>  
        <ion-label id="itens_menu">Utensílios</ion-label><br>  
        <ion-label id="itens_menu">Contato</ion-label><br> 
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar class="menu">
        <ion-buttons slot="start">
          <ion-menu-button class="menu"></ion-menu-button>
        </ion-buttons>
        <ion-title>Receitas</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content id="pagina">
      <div style="display: flex;">
      <ion-card class="card1">
        <ion-card-header>
          <ion-card-title>Aperol Spitz</ion-card-title>
        </ion-card-header>
        <ion-card-content></ion-card-content>
      </ion-card>

      <ion-card class="card2">
        <ion-card-header>
          <ion-card-title>Crepúsculo</ion-card-title>
        </ion-card-header>
        <ion-card-content></ion-card-content>
      </ion-card>
    </div>
    <div style="display: flex;">
      <ion-card class="card3">
        <ion-card-header>
          <ion-card-title>Gin Tropical</ion-card-title>
        </ion-card-header>
      
        <ion-card-content></ion-card-content>
      </ion-card>
      
      <ion-card class="card4">
        <ion-card-header>
          <ion-card-title>Moscow Mulle</ion-card-title>
        </ion-card-header>
      
        <ion-card-content></ion-card-content>
      </ion-card>
    </div>
    <div style="display: flex;">
      <ion-card class="card5">
        <ion-card-header>
          <ion-card-title>Pink Lemonade</ion-card-title>
        </ion-card-header>
      
        <ion-card-content></ion-card-content>
      </ion-card>
      
      <ion-card class="card6">
        <ion-card-header>
          <ion-card-title>Caipirinha</ion-card-title>
        </ion-card-header>
      
        <ion-card-content></ion-card-content>
      </ion-card>
    </div>
    <div style="display: flex;">
      <ion-card class="card7">
        <ion-card-header>
          <ion-card-title>Mojito</ion-card-title>
        </ion-card-header>
      
        <ion-card-content></ion-card-content>
      </ion-card>
      
      <ion-card class="card8">
        <ion-card-header>
          <ion-card-title>Martini</ion-card-title>
        </ion-card-header>
      
        <ion-card-content></ion-card-content>
      </ion-card>
    </div>
      
    </ion-content>
  </div>
</ion-app>